extends layout

block content
  h1= "Dummy Pug home page"
  p This is only for development because the front end will be in angluar

  if login == true
    p You are Logged in! Click the button to add a round, click submit to Log out
    a(class='button' href='/addRound') Add Round
    body
      form(action='/logout',method='POST')
        input(type='submit', value='Submit')
  else if login == false
    p you are not logged in, click below to go to the login page
    body
      form(action='/login',method='GET')
        input(type='submit', value='Submit')
