extends layout

block content
  h1= "Dummy Pug home page"
  p This is only for development because the front end will be in angluar

  if login == true
    p You are Logged in! Click the button to add a round, click submit to Log out
    a(class='button' href='/addRound') Add Round
    p
    a(class='button' href='/removeRound') Remove Round
    p
    a(class='button' href='/getRounds') View Your Rounds
    p
    a(class='button' href='/newGroup') Create a new Group
    p
      a(class='button' href='/joinGroup') View Your Rounds
      p
      a(class='button' href='/leaveGroup') Create a new Group
    body
      form(action='/logout',method='POST')
        input(type='submit', value='LOGOUT')
  else if login == false
    p you are not logged in, click below to go to the login page
    body
      form(action='/login',method='GET')
        input(type='submit', value='LOGIN')
