h1="Foursome leave Group. This is a dev page."


p add round form
    body
        form(action='/leaveGroup',method='POST')
            p
            | Group name:
            input(name='gname',value='')

            input(type='submit', value='Submit')
            p
            a(class='button' href='/') go back
